<% include_tinymce %>
<h1>Training Anpassen</h1>

<%= render(:partial => "form", :locals => { :label => "Anpassen", :url => {:action => :update} }) %>

<% content_for :sub_menu do %>
	<li class="side_bar"><%= link_to "Zurück", events_path %></li>
<% end %>