<h1>Ressource nicht Verfügbar</h1>

<p>
Für die von Ihnen angeforderte Saison existieren keine Daten. 
Bitte vergewissern sie sich, dass sie die richtige URL eingegeben haben. In der untenstehenden Tabelle werden die Saisons aufgelistet, zu denen Daten vorhanden sind.
</p>

<p>

	<h2>Verfügbare Saisons</h2>
	
	<%= render "seasons_table", :target => @seasons %>
	
</p>