<h1>Statistik Saison <%= @season.to_s %></h1>

<div style="margin-top: 10px;">
This site is currently under construction.
</div>

<div style="links">
	<%= link_to "Statistiken anderer Saisons", seasons_path %>
</div>