<h1>Saison <%= @season.to_s %></h1>

<div>
	Auf dieser Seite werden die Statistiken der Gletscherspalter der jeweiligen Saison angezeigt. Nach den Team Statistiken, folgen die individuellen Werte der Spieler.
</div>

<div style="margin-top: 10px;">
	
	<h2>Team Statistiken</h2>
	<% uri =  Gchart.pie_3d( :size => '500x200', 
								:bg => 'ffffff',
							 	:bar_colors => ['be0400', 'ffcf32', '232e99'],
	             	:labels => [
									"Siege (#{@game_stats[0]})", 
									"Niederlagen (#{@game_stats[1]})", 
									"Unentschieden (#{@game_stats[2]})"
								],
	              :data => @game_stats)
	%>
	
	<%= image_tag(uri)%>

</div>

<div style="margin-top: 10px;">
	<h2>Spieler Statistiken</h2>
	
	<% url = Gchart.bar( :size => '750x350',
										:orientation => 'horizontal',
	 									:title => "Skorerpunkte",
										:title_size => 16,
										:data => @score_stats,
										:bar_colors => ['be0400','33d200'],
										:stacked => false,
										:labels => ["Tore", "Assists"])
		# adding player names as bar labels
		url += "&chxt=x,y&chxl=1:|#{@scorer_names.reverse.join('|')}|"
		# adjusting the range at y axis
		url += "&chxr=0,0,#{@max_value},1"
		

	%>

	
	<%= image_tag(url) %>

</div>

<div style="links">
	<%= link_to "Statistiken anderer Saisons", seasons_path %>
</div>