<h1>Nachrichten</h1>

Auf dieser Seite werden die letzten fünf versendeten Nachrichten angezeigt.
Neu verfasste Nachrichten versenden automatisch eine Email an die jeweiligen Empfänger und können deshalb nicht verändert werden.

<div style="margin-top: 10px;">
<%= render :partial => "messages_table", :locals => { :messages => @messages } %>
</div>

<% content_for :sub_menu do %>
	<% if permitted_to? :manage, :messages %>
	<li class="side_bar"><%= link_to "Neue Nachricht verfassen", new_message_path %></li>
	<% end %>
<% end %>
