<h1>Profilbild erstellen</h1>
<%= form_tag("#{user_user_pictures_path(:user_id => @user.id)}", :multipart => true, :class => :default ) do %>
    
    <div>
      <%= label_tag :avatar, "Datei:" %>
      <%= file_field :avatar, :photo %>
    </div>

    <%= submit_tag "Speichern" %>
<% end %>