Lieber Sportsfreund

<p>
<%= raw "#{@creator}" %> hat einen Kommentar zu einem von dir kommentierten Ereignis geschrieben.
</p>

<p>
Der Kommentar lautet: <br />

<%= raw "#{@message}" %>
</p>

<p>
	Die gesamte Diskussion findest du auf der Homepage.<br />
	<% if @event %>
	<%= url_for :host => "www.gletscherspalter.ch", :controller => @event.controller_name, :action => "show", :id => @event.id %>
	<% end %>
</p>