Lieber Gletscherspalter Funktionär

<p>
	Soeben hat sich <%= raw "#{@supporter} aus #{@supporter.city} (#{@supporter.email})" %> als Supporter der Gletscherspalter registriert.
	In den nächsten Tagen sollte die Zahlung auf unser Konto gutgeschrieben werden. <strong>Wir bitten dich, dies zu überprüfen und den Supporter zu bestätigen, sobald die Zahlung eingetroffen ist.</strong>
</p>

<p>
	Wie wird ein Supporter bestätigt?
	
	<ol>
		<li>Logge dich auf http://gletscherspalter.ch ein</li>
		<li>Navigiere zu http://gletscherspalter.ch/sponsors</li>
		<li>Suche den Supporter in der Liste &laquo;Unbestätigte Supporter&raquo;</li>
		<li>Klicke auf den kleinen Bleistift neben dem Supporter</li>
		<li>Aktiviere den Haken &laquo;Gönnerbeitrag bezahlt&raquo; und speichere die Änderungen</li>
	</ol>
</p>

<p>
	Weitere Informationen findest du auf http://www.gletscherspalter.ch
</p>
