Liebe Sportsfreunde <br />

<p>
<%= raw "#{@creator}" %> hat weitere Neuigkeiten auf gletscherspalter.ch eingetragen.
</p>

<p>
	Die Nachricht lautet:<br />
	<%= raw "#{@message}" %>
</p>

<p>
Weitere Informationen findest du auf unserer Homepage 
(<%= url_for(:host => "www.gletscherspalter.ch", :controller => "root", :action => "index" ) %>).
</p>