<% include_tinymce %>
<h1>Gästebuch</h1>

<% unless @notes.empty? %>
<div id="notes">
	<%= render "notes" %>
</div>
<% else %>
Momentan gibt es keine Einträge im Gästebuch.
<% end %>

<% content_for :sub_menu do %>
	<li class="side_bar"><%= link_to_function 'Eintrag erstellen', "Glacier.Popup.init('" + new_guestnote_path  + ".ajax', {width: 700})" %></li>
<% end %>