<h1>Forum der Gletscherspalter</h1>

<div style="margin-top: 10px">
<table class ="default">
  <tr>
    <th width="90%">Titel</th>
		<th width="10%">&nbsp;</th>
  </tr>

<% for topic in @topics %>
  <tr>
    <td><%= link_to topic.title, topic %></td>
		<td>
		<% if permitted_to? :manage, topic %>
	    <%= link_to image_tag("/images/icons/pencil.png", :border => 0), edit_topic_path(topic) %>
	    <%= link_to image_tag("/images/icons/delete.png", :border => 0), topic, :confirm => 'Möchten sie diesen Thread wirklich löschen?', :method => :delete %></td>
		<% end %>
		</tr>
  </tr>
<% end %>
</table>
</div>

<div class="links">
	<%= link_to 'Neuen Thread erstellen', new_topic_path %>
</div>