form.default {
	margin-top: 0px;
}

form.default div {
  padding: 5px;
}

form.default label {
  float: left;
  width: 200px;
  display: block;
}

form.default div div label {
  width: 150px;
}

form.default div div.field_with_errors {
  padding: 0;
  font-weight: bold;
	float: none !important;
}

form.default div div {
  float: left;
  clear: none;
  padding: 0;
}


form.default div div div {
  float: none;
}

form.default textarea {
  width: 400px;
  height: 170px;
}


form.default label.bold {
    font-weight: bold;
}

form.default h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}