.none-list ul {
	list-style: none;
}

.none-list li {
	list-style: none;
}

.side_bar li {
	list-style: none;
}

.side_bar a {
	color: #d4d4d4;
}

h1, h2, h3 {
	font-weight: normal;
	font-variant: small-caps;
	color: #ca0000;
}

h1 {
	padding: 5px 10px 20px 0px;
}

h2 {
	padding: 5px 10px 10px 0px;
}

h3 {
	padding: 5px 10px 5px 0px;
}

a {
	color: #051659;
}


.fieldWithErrors {
	border: 2px solid #f40610;
	background-color: red;

}

#errorExplanation {
  width: 410px;
  border: 2px solid #d40610;
  padding: 7px;
  padding-bottom: 12px;
  margin: 10px 0px 20px 0px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #d40610;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin: 15px 0px 0px 10px;
  padding: 5px;
}

#errorExplanation ul li {
	margin-left: 40px;
  font-size: 12px;
 
}

#map_canvas {
	margin-top: 20px;
	height: 400px;
	width: 560px;
}

#notice {
  border: 2px solid #d40610;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
	text-align: center;
}
