h1 {
	font-size: 24px;
}

h2 {
	font-size: 22px;
}

a {
	color: #093ea8;
	text-decoration: underline;
}

div.links {
	margin-top: 10px;
}

div.details {
	margin-top: 20px;
}

div.admin_menu {
	position: absolute;
	top: 22px;
	left: 380px;
	height: 109px;
	width: 140px;
	background-color: #d40610;
	z-index: 1;
	
	border: 1px solid #093ea8;
}

div.admin_menu ul {
	list-style: none;
	margin-left: 3px;
}

div.admin_menu ul li {
	width: 96%;
	border-bottom: 1px solid #093ea8;
	height: 20px;
	line-height: 20px;
	padding: 0px;
	margin: 0px;
}

#map_canvas {
	margin-top: 20px;
	height: 400px;
	width: 70%;
}

#notice {
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
	text-align: center;
}
