#header {
	background: url(/images/new_style/header_background.png);	
}

#status_bar {
	position: relative;
	top: -58px;
	height: 22px;
	background: url(/images/new_style/status_bar.png);
	background-repeat: repeat-x;
}


#status_info {
	margin-bottom: 2px;
	padding: 15px 0 0px 15px;
	color: white;
	font-size: 11px;
	float: left;
}

#status_action {
	padding: 15px 15px 0 0px;
	float: right;
}

#status_action a {
	color: white;
	font-size: 11px;
}