#menu {
    position: relative;
		top: -33px;
		left: 220px;
}


#menu ul {
    list-style: none;    
}

#menu li {
	float: left;
  list-style: none;
  padding: 0.2em;
  margin-right: 5px;
}

#menu li a:link, #menu li a:visited, #menu li a:focus, #menu li a:active {
	display: block;
	font-weight: bold;
    color: white;
    text-decoration: none;
}

#menu li a:hover {
	color: white;
	background-color: #d40610;
    text-decoration: underline;
}