@CHARSET "UTF-8";

#menu_container {
	margin: 0 10px 0 10px;
	padding: 4px;
	position: relative;
	top: -60px;
	height: 25px;
	background: black;
	opacity: .8;
	/* Internet Explorer */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	/* end */
	
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	z-index: 1;
}

#header_main_menu {
/*	position: relative;
	top: -50px;
	left: 220px;*/
}


/*#menu ul {
	list-style: none;    
}

#menu li {
	float: left;
  list-style: none;
  padding: 0.2em;
	margin-right: 5px;
}

#menu li a:link, #menu li a:visited, #menu li a:focus, #menu li a:active {
	display: block;
	font-weight: bold;
	color: white;
	text-decoration: none;
}

#menu li a:hover {
	color: white;
	background-color: #d40610;
  text-decoration: underline;
}
*/
div.dynarch-horiz-menu { 
	border: none; 
	cursor: default;
	float: right;
}
div.dynarch-horiz-menu table {
	position: relative;
	top: 1px;
	color: #ccc;
}
div.dynarch-horiz-menu table tr td { 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: white;
	padding: 3px 10px 3px;
	cursor: pointer;
	border-left: 1px solid;
}
div.dynarch-horiz-menu table tr td.first { 
	border-left: none;
}

div.dynarch-horiz-menu table tr td.hover,
div.dynarch-horiz-menu table tr td.active,
div.dynarch-horiz-menu table tr td.activated { 
	text-decoration: underline;
}


/* vertical parts */

div.dynarch-popup-menu {
  position: absolute;
  cursor: default;
  z-index: 1000;

	border-left: 1px solid white;
	border-right: 1px solid white;
}
div.dynarch-popup-menu div.dynarch-menu-scroll { 
	overflow: hidden; 
}

div.dynarch-popup-base-menu { 
	position: static;
}
div.dynarch-popup-menu tr.item td {
	color: white;
	font-size: 12px;

	background: black;
	opacity: .8;
	/* Internet Explorer */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	/* end */

	padding: 0;
	border-bottom: 1px solid white;
	cursor: pointer;
}
div.dynarch-popup-menu tr.hover td.label,
div.dynarch-popup-menu tr.active td.label {
	text-decoration: underline;
}
div.dynarch-popup-menu tr.item td.label { 
	padding: 6px 14px 4px 3px;
}
div.dynarch-popup-menu tr.activated td {
	background: #9c0;
}
/*
div.dynarch-popup-menu tr.separator td div {
  margin: 2px;
  height: 1px;
  line-height: 1px;
  font-size: 1px;
  border: none;
}
div.dynarch-popup-menu tr.disabled td.label { color: #aca899; }
div.dynarch-popup-menu tr.disabled td.icon img { -moz-opacity: 0.4; filter: alpha(opacity=40); }


div.dynarch-menu-shadow, img.dynarch-menu-shadow, div.div.dynarch-IE6-shadow { z-index: 990; position: absolute; }
div.dynarch-menu-shadow { background-color: #555; -moz-opacity: 0.6; filter: alpha(opacity=60); }

iframe#dynarch-menu-hider { z-index: 980; }


div.dynarch-menu-scroll-up { height: 12px; font-size: 12px; line-height: 12px; overflow: hidden;
  background: url("img/scroll-up.gif") no-repeat 50% 50%;
}
div.dynarch-menu-scroll-down { height: 12px; font-size: 12px; line-height: 12px; overflow: hidden;
  background: url("img/scroll-down.gif") no-repeat 50% 50%;
}
div.dynarch-menu-scroll-up-hover { background-image: url("img/scroll-up-hover.gif"); }
div.dynarch-menu-scroll-down-hover { background-image: url("img/scroll-down-hover.gif"); }
div.dynarch-menu-scroll-up-disabled { background-image: url("img/scroll-up-disabled.gif"); }
div.dynarch-menu-scroll-down-disabled { background-image: url("img/scroll-down-disabled.gif"); }


div.dynarch-menu-toolbar table tr td.item {
  padding: 2px 3px;
}
.impossible-class-name-to-preload-shadow-image-in-internet-exploder { background-image: url("/img/shadow.png"); }
*/