.photoset_left{
  float: left;
  width: 365px;
  height: 260px;
}

.photoset_right {
  position: absolute;
  left: 385px;
  width: 365px;
  height: 260px;
}

.photo {
  padding: 0px;
  display: inline;
}

img {
    border: 0px;
}

