.photoset_left{
  float: left;
  width: 365px;
  height: 260px;
}

.photoset_right {
	margin-left: 385px;
  width: 365px;
  height: 260px;
}

.photo {
  padding: 0px;
  display: inline;
}

img {
    border: 0px;
}

.photo-description {
	margin: 5px 0px 10px 0px;
}

.photos-count {
	margin: 5px 0px 10px 0px;
}

