table {
  border-collapse: collapse;
}

table.default {
  width: 100%;
}

table.default th,
table.default td {
    padding: 3px 5px;
}
table.default th {
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}
table.default td {
    border-bottom: 1px solid #eee;
    vertical-align: middle;
}

table.default tr.summary_row td {
	font-weight: bold;
	border-top: 2px solid #000!important;
}

table.default tr.marked td {
  background-color: #FAFAFA;
}

table.default tr.smaller td {
	font-size: 12px;
}

table.default tr.smaller th {
	font-size: 14px;
}

table.forum {
	width: 100%;
}

table.forum tr th {
	background-color: #051659;
	color: white;
	padding: 5px;
	text-align: left;
	border: 1px solid white;
}

table tr td.author {
	vertical-align: top;
	font-weight: bold;
	font-size: smaller;
}

table tr td.date {
	font-size: 10px;
	vertical-align: top;
}

table.forum tr td {
	border: 1px solid white;
	padding: 5px;
}

table.forum tr.even-line td{
	background-color: #cfddff;
}

table.forum tr.odd-line td {
	background-color: #f0f0f0;
}