<h1>Trainingslager Erstellen</h1>

<%= render(:partial => "form", :locals => { :label => "Speichern", :url => { :action => :create } }) %>

<% content_for :sub_menu do %>
	<li class="side_bar"><%= link_to "Zurück", events_path %></li>
<% end %>