<h1>Veranstaltungen</h1>

<div>
	<%= render :partial => "event_table", :locals => { :events => @events, :actions => true } %>
</div>	

<div class="links">
	<%= link_to 'Neue Veranstaltung erstellen', new_event_path %>
</div>