<h1>News</h1>

<div style="margin-top: 10px;">
	<%= render :partial => "news_table", :locals => { :news => @news }%>
</div>

<div class="links">
	<%= link_to "News erstellen", new_news_path %>
</div>
