<% include_tinymce %>
<h1>News erstellen</h1>

<% form_for @news, :url => {:action => "create"}, :html => {:class => :default} do |f| %>
	
	<div>
		<%= f.label "Nachricht" %>
		<%= f.text_area :message %>
	</div>
	
	<div>
		<%= f.submit "Speichern" %>
	</div>
	
<% end %>

<div class="links">
	<%= link_to "Zurück", news_index_path %>
</div>

<script type="text/javascript" charset="utf-8">
	tinyMCE.init({
		mode 					: "textareas",
		theme				 	: "advanced",
		theme_advanced_buttons1 : "bold, italic, underline, |, justifyleft, justifycenter, justifyright, justifyfull,|, fontselect, fontsizeselect, bullist, numlist, link",
		theme_advanced_buttons2 : "",
		theme_advanced_toolbar_location : "top",
		theme_advanced_toolbar_align : "left",
		convert_urls	: false,
	});
</script>
