<h1>Unterstützen Sie die Gletscherspalter als Gönner</h1>

<h2>Liebe Gönner des EHC Gletscherspalter</h2>

<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<h2>Gönner Kategorien</h2>

<p>
	<strong>Ab 100 CHF: Silver-Member</strong>
</p>

<p style="height: 10px;"></p>

<p>
	<strong>Ab 250 CHF: Gold-Member</strong>
</p>

<% if @confirmed_sponsors.any? %>
	<h2>Aktuelle Gönner</h2>

	<%= render "sponsors_table", :sponsors => @confirmed_sponsors %>

<% end %>

<% if @unconfirmed_sponsors.any? && permitted_to?(:manage, :sponsors) %>
	<h2>Unbestätigte Gönner</h2>

	<%= render "sponsors_table", :sponsors => @unconfirmed_sponsors %>
	
<% end %>

<% content_for :sub_menu do %>
	<li class="side_bar"><%= link_to "Gönner werden", new_sponsor_path %></li>
<% end %>