<h1>Supporter Kontakt Formular</h1>

<p>
	Um Supporter zu werden müssen Sie nur das untenstehende Formular ausfüllen und den Betrag auf unser Konto überweisen. 
	Die nötigen Informationen finden Sie weiter unten.
	Sobald die Zahlung bei uns eingegangen ist, werden wir Sie auf die offizielle Supporterliste setzen.
</p>

<h2>Kontoinformationen</h2>

<p>
	Zürcher Kantonalbank, <br />
	Clearingnr. 700,<br />
	<strong>IBAN: CH49 0070 0111 5002 26076</strong>, <br />
	Begünstigter: Marc Enzler, Staldenbachweg 12, 8320 Fehraltorf, <br />
	<strong>Vermerk: Gönner</strong>
</p>

<h2>Kontakt Daten</h2>

<p>
	
	<%= render "form", :label => "Registrieren" %>
	
</p>

<% content_for :sub_menu do %>
	<li class="side_bar"><%= link_to "Zurück", sponsors_path %></li>
<% end %>