<h1>Spiel Editieren</h1>

<%= render(:partial => "form", :locals => { :label => "Anpassen", :url => { :action => :update} }) %>

<% content_for :sub_menu do %>
	<li class="side_bar"><%= link_to 'Spiel Anzeigen', @game %></li>
	<li class="side_bar"><%= link_to 'Saisonübersicht', games_path %></li>
<% end %>