<div id="game-list">
	
	<h1>Spielplan Saison <%=h current_season.to_s %></h1>

	<%= render :partial => "game_table", :locals => { :games => @games, 
		:show_actions => true, :show_result => true, :check_box_needed => false 
		} %>
</div>

<% if permitted_to? :manage, :games %>
<div class="links">
	<%= link_to "Neues Spiel erstellen", new_game_path %>
</div>
<% end %>