<h1>Neues Spiel erstellen</h1>

<%= render(:partial => "form", :locals => { :label => "Speichern", :url => { :action => :create} }) %>

<% content_for :sub_menu do %>
	<ul>
		<li class="side_bar"><%= link_to 'Zurück', games_path %></li>
	</ul>
<% end %>
