# Mail settings
mail:
  server: 'mail.example.com'
  domain: 'mail.example.ch'
  user_name: 'user'
  password: 'pwd'


# Google Maps
maps-api-key: "someVeryLongApiKeyString"

# Flickr Account details
flickr:
  api-key: "your api Key"
  shared-secret: "your shared secret"
  user-id: "your user id"
  auth-token: "the generated token"