<%= render :partial => "events/events_table", :locals => { :events => @events, 
	:show_result => true, :actions_needed => false, :check_box_needed => false }%>
<div style="margin-top: 5px;">
	<hr/>
	<%= will_paginate @events %>
	<hr/>
</div>


<script type="text/javascript" charset="utf-8">
	Glacier.Paginator.addAjaxPagination("my_games");
</script>