<div id="player-list">
	<h1>Mannschaft</h1>
	
	<% if permitted_to? :manage, :users %>
	In der unten stehenden Liste sind alle Spieler der Gletscherspalter geordnet nach deren Position aufgeführt. Eine erweiterte Mitgliederliste findest du <%= link_to "hier", users_path %>.
	<% end %>
	<div>
		<%= render :partial => "roster", 
			:locals => {
				:players => @players, 
				:editable => true, 
				:deletable => false,
				:delete_icon => "icons/delete.png",
				:delete_path => "/players/"
			} %>		
	</div>
</div>
