<h1>Spiele Buchen</h1>

<div style="margin-top: 10px;">
	Hier kannst du dich für die Spiele der aktuellen Saison einschreiben. 
	Beachte, dass du dich spätestens bis 24 Stunden vor Beginn eines Spiel eingetragen oder abgemeldet haben musst.
	Danach sind keine Änderungen mehr möglich. Wende dich bei dringenden Fällen bitte an Marcel.
</div>

<div style ="margin-top: 10px;">

<h2>Saison <%= current_season.to_s %></h2>

<% form_tag 'update_games' do %>

	<%= render :partial => "games/game_table", :locals => { :games => @games, :show_result => false, :show_actions => false, :check_box_needed => true } %>

</div>

<div class="links" style="text-align: right;">
	<%= submit_tag 'Speichern' %>
</div>

<%= link_to "Zurück", player_path(current_user.player) %>

<% end %>
