<h1>Fotoalbum</h1>

<div style="margin-bottom: 10px;">
	Suche Dir unten ein Fotoalbum aus und klicke auf das Bild um die darin enthaltenen Fotos anzuschauen:
</div>

<% for photoset in @photosets %>
	<% float_value = cycle("left", "right") %>
	<%= render :partial => 'photoset', :locals => { :photoset => photoset, :float_value => float_value } %>
<% end %>