<h1>Fotoalbum</h1>

<div>
	Suche Dir unten ein Fotoalbum aus und klicke auf das Bild um die darin enthaltenen Fotos anzuschauen:
</div>

<%= render :partial => 'photoset', :collection => @photosets  %>