<div>
<h1><%= @photoset.title %></h1>
<% if @photoset.description %>
    <p><%= @photoset.description %></p>
<% end %>

  <% photos = [@photos[0], @photos[1]] %>

  <% @photos.each do |photo|  %>

      <%= render :partial => 'photo', :locals => { :photo => photo} %>
  <% end %>


</div>


<% content_for :sub_menu do %>
	<li class="side_bar"><%= link_to "Zurück", photos_path %></li>
<% end %>