<h1><%= @photoset.title %></h1>
<% if @photoset.description %>
    <p><%= @photoset.description %></p>
<% end %>
<%= render :partial => 'photo', :collection => @photos  %>

<div class="links">
	<%= link_to "Zurück zu den Fotoalben", photos_path %>
</div>