<h1><%= @photoset.title %></h1>
<% if @photoset.description %>
    <p><%= @photoset.description %></p>
<% end %>
<%= render :partial => 'photo', :collection => @photos  %>

<% content_for :sub_menu do %>
	<li class="side_bar"><%= link_to "Zurück", photos_path %></li>
<% end %>