<h2>Kontakt Adressen:</h2>

<table class="default">

	<thead>
		<tr>
			<th width="50%">Funktion</th>
			<th width="50%">Adresse</th>
		</tr>
	</thead>
	
	<tr>
		<td>Vorstand</td>
		<td>kontakt@gletscherspalter.ch</td>
	</tr>
	<tr>
		<td>Webmaster</td>
		<td>webmaster@gletscherspalter.ch</td>
	</tr>
</table>
