<h1>Kontakt Adressen:</h1>

<table class="default">

	<thead>
		<tr>
			<th width="50%">Funktion</th>
			<th width="50%">Adresse</th>
		</tr>
	</thead>
	
	<tr>
		<td>Allgemeiner Kontakt</td>
		<td>contact [at] gletscherspalter.ch</td>
	</tr>
	<tr>
		<td>Präsident</td>
		<td>president [at] gletscherspalter.ch</td>
	</tr>
	<tr>
		<td>Webmaster</td>
		<td><%= mail_to "gletscherspalter.web@gmail.com", "gletscherspalter.web [at] gmail.com" %></td>
	</tr>

</table>
