<h2>Kontakt Adressen:</h2>

<table class="default">

	<thead>
		<tr>
			<th width="50%">Funktion</th>
			<th width="50%">Adresse</th>
		</tr>
	</thead>
	
	<tr>
		<td>Allgemeiner Kontakt</td>
		<td>contact@gletscherspalter.ch</td>
	</tr>
	<tr>
		<td>Präsident</td>
		<td>president@gletscherspalter.ch</td>
	</tr>
	<tr>
		<td>Webmaster</td>
		<td>webmaster@gletscherspalter.ch</td>
	</tr>

</table>
