<h1>Die Geschichte des EHC Gletscherspalter</h1>

<p>
	Die Mitglieder aus dem MCM „Motorrad Club Maur“ gründeten im Winter 89/90 die Eishockey-Plauschmannschaft EHC Gletscherspalter. Der MCM schrumpfte, hatte immer weniger Interessierte, war auch stark überaltert und so überlegten sich die Hardcore-Mitglieder Alternativen. Warum nicht Eishockey? Und so wurde unter den Mitgliedern des MCM, Verwandten und Bekannten eine Hockeymannschaft zusammen getrommelt und ein Spiel organisiert. Trotz wöchentlichem Training in Dübendorf während ca. 2 Monaten war das erste Spiel in Wallisellen, wie man sich vorstellen konnte, ein Desaster und ging mit 27:0 verloren. 

	Bild 1, 2
</p>

<p>
	Doch der Hunger war geweckt. Es folgten dann weitere 6-7 Matches, die sicherlich nicht sonderlich erfolgreich waren. Aus der zusammengewürfelten Meute wurde ein, naja halbwegs, organisiertes Team. Zu den aller ersten Mitgliedern gehörten damals „Gebi“, „Stäne“, Walderson, Vip, Zahner, Zaugg, Zäh, Rüh und de Päuli. René Engel übernahm die Organisation und amtierte als erster „Präsi“. Dank der grosszügigen Unterstützung der Firma Bindschädler in Maur konnte die kleine Hockeygruppe mit knallblauen Leibchen mit Panasonic-Werbung rumkurven. 
	Bild 3

<p>
	Der Name, der auch heute noch Stirnrunzeln auslöst, entstand in einer Nacht- und-Bier-Aktion im Restaurant Sonne, (dem heutigen Chi-Ba-Bou) in Maur. Nach unzähligen Vorschlägen wie "Torpedo Greifensee", EHC Haudenäbed oder Metalurg Muur fiel der Entscheid auf "EHC Gletscherspalter". Der Vater dieses Vorschlags ist bis heute unbekannt. Das berühmte Gletscherspalter-Logo, das heute noch auf den Leibchen prangert,  war eine Gemeinschaftsproduktion vieler Mitglieder. Jeder trug einen Teil bei. Der eine kreierte die Schlittschuhe, der andere das Beil, der dritte die Figur etc. 
	Bild 6
</p>

<p>
	Die Mitglieder waren eine solch verschworene Gemeinschaft, dass es nicht unüblich war, dass man Geschäftsflüge und Termine eigens für die Gletscherspalter-Spiele umbuchte und verschob. Abwesenheit kam also praktisch nie vor. 
	Der sportliche Ehrgeiz entwickelte sich fortan und so wurden in den nächsten Jahren ca. 12 Spiele pro Saison bestritten. Schwierig war vor allem auch Heimeis in der Umgebung zu kriegen. So mussten die Gletscherspalter vor allem zu unchristlichen Zeiten, entweder 07:00 Morgens oder 23:00 nachts, nach Wil SG oder Weinfelden TG ausweichen.

	Bild 4, 5

	Bis René es schaffte, in Effretikon ansässig zu werden, verging einige Zeit.
	Nach René Engel, dem ersten Ehrenmitglied und noch heutigem Trainigslager-Haudegen, folgte die Ära Philipp Schmocker, „Vip“ genannt, als neuer Präsi im Jahre des Hockeyherren 1999. 

</p>

<p>
	Bild 8

	Die Organisation übernahm Marcel Franze und es gelang auch in den überdachten Stadien Heimeis zu ergattern. Vor allem Wetzikon und Küsnacht waren neben Effretikon die Lokationen. Sportliche Erfolge waren damals sehr rar gesät und es gelang kaum einmal, ein Spiel zu gewinnen. Doch die Resultate wurden immer knapper und knapper. Was natürlich auch die Gegner spürten. Sicherlich gab es immer noch übermächtige Gegner, bei welchen die Gletscherspalter kaum aus dem eigenen Verteidigungsdrittel rausspielen konnten, doch sie lernten. Es erhöhten sich auch die Anzahl Spiele und es wurden bereits um die 16-18 Spiele pro Saison ausgetragen. 
	Mitglieder kamen und gingen, aber ein harter Kern hielt das Team immer auf Kurs. Speziell zu erwähnen ist sicher Adolf Ruf, der „Ältere“ der beiden „Pizzas“. Er war die gute Seele, die Fee, der Seelenmasseur und der Materialchef in Persona. Dank ihm war das Rundherum stets professionell und Nati A würdig.
	Bild 7
</p>
	
<p>
	Die Gründungsmitglieder tauschten allmählich ihre schweren Holzkeulen gegen leichtere handliche Unihockeyschläger. Wenn ursprünglich noch die meisten Mitglieder aus den Reihen des MCM stammten, weitete sich das Kader allmählich regional aus. Halb Maur hat wohl mittlerweile einmal ein Gletscherspalter Leibchen tragen, wozu auch die jährliche Präsenz des Teams an der Chilbi beitrug. Das Talentrekrutierungsgebiet weitete sich aus, es folgten Mitglieder und Freunde aus dem ganzen Zürcher Oberland. Mittlerweile ist der Club inter-kantonal mit Ehrenmitgliedern im Kanton Luzern und Schlüsselkindern äh –Spielern aus der March. Während dieser Zeit sind die Gletscherspalter merklich ambitionierter geworden. Ganz langsam verjüngte sich der Kader, neue jüngere Spieler kamen dazu. Plötzlich kamen erste Vollerfolge. Man gewann manchmal auch ein Spiel. Und man erkannte (nach notabene erst 15 Jahren Clubgeschichte), dass auch die Gletscherspalter langsam den Gegnern Paroli bieten konnten. Damit veränderte sich aber auch das Gesicht der Gletschis. Klar stand der Plausch immer noch im Vordergrund, jedoch vor allem der Sportliche. Hatte man bis dahin noch stark im Kameradschaftlichen Wert gelegt, war jetzt vor allem der Eishockey-Sport im Vordergrund. Aktionen wie Jassturniere, Mauremer Chilbi, 

	Bild 9

	oder Grillplausch im Sommer verschwand, weil die jüngeren Mitglieder genug mit den sportlichen Terminen hatten und sich kaum mehr neben dem Hockeyspiel engagierten. Und da die Älteren auch rar wurden, konnten schlicht die Anlässe nicht mehr organisiert und durchgeführt werden. So bleibt das Seilzeihen im Jahr 1995 wohl noch lange der grösste Event, welchen die Gletscherpalter in ihrer Clubgeschichte organisiert haben. 
	Bild 10, 11
	Das Fest, bei dem es neben einem professionellen Seilzieh-Wettkampf auch Live-Musik, ein riesiges Festzelt, eine Motocross-Trial-Demo und Heli-Flüge gab, stellte so manches Grümpeltournier in den Schatten. 

</p>

<p>
	Mittlerweile ist eine neue Ära angebrochen.. Neue gute Spieler haben die Mannschaft ungemein verstärkt. So geschah es, das die Gletscherspalter im 2007 erstmal mehr Spiele gewannen als verloren und im darauf folgenden Jahr, sogar ein positives Goalverhältnis hatten. Die Gegner fürchteten sich langsam und hatten also auch gehörigen Respekt. Gespielt wird mittlerweile bis gegen 28 mal in der Saison. 

	Bild 12, 13

	Dies wurde dann auch der Zeitpunkt, bei welcher sich Vip als langjähriger Präsi zurückzog und Patrick Büsser das Zepter im 2008 übergab. Ach ja, Trainingslager gab und gibt es alljährlich. Anfangs war der Trainer ein Ex-Spieler des EHC Wallisellen. Dieser wurde als Halbgott betrachtet. Heute reicht das wohl schon nicht mehr und es erscheint und trainiert uns ein Ex-Spieler der ZSC-Lions. 
</p>
	Bild 14
<p>
	So verändern sich die Zeiten und Ansprüche, aber gefeiert wird wohl ähnlich feucht. Heute wie damals!!!!
	</p>
</div>