<h1>Willkommen auf Gletscherspalter.ch</h1>

<div>
	Die Gletscherspalter sind ein Team von Hockey-Spielern, welche sich dem Sport, kombiniert mit Kameradschaft verschrieben haben. Der Spass und die Freude am freundschaftlichem Eishockeyspiel sind oberstes Gebot. Falscher Ehrgeiz und Agressionen sind somit fehl auf dem Eis und auf diesen Seiten.
</div>

<% unless @news.empty? %>
<div style="margin-top: 15px;">
	<h2>News</h2>
	<%= render :partial => "news/news_table", :locals => { :news => @news } %>
	
	<div class="links">
		<%= link_to "Andere Neuigkeiten", news_index_path %>
	</div>

</div>
<% end %>

<% unless @events.empty? %>
	<div style="margin-top: 15px;">
		<h2>Nächste Veranstaltungen</h2>

		<%= render :partial => "events/event_table", :locals => { :events => @events, :actions => true } %>
		
	</div>
<% end %>

<div style="margin-top: 15px">
	<h2>Nächste Spiele</h2>
	
	<% if @games.empty? %>
		Momentan sind keine Spiel angesetzt.
	<% else %>
		
		<%= render :partial => "games/game_table", :locals => { 
			:games => @games, :show_result => false, :show_actions => true, 
			:check_box_needed => false 
			} %>
	
	<% end %>
<div>
	
