<h1>Anmeldung f&uuml;r Spiele</h1>

<table>
  <thead>
    <tr>
      <th>Datum</th>
      <th>Ort</th>
      <th>Gegner</th>
      <th>Resultat</th>
    </tr>
  </thead>

  <tbody>
    <% for game in @games %>
    <tr>
      <td><%= game.date_formatted %></td>
      <td><%= game.location.name %></td>
      <td><%= game.opponent %></td>
      <td><%= game.result %></td>
    </tr>
    <% end %>
  </tbody>

</table>